# Ignorar carpetas de modelos y texturas
Models/
Textures/

# Carpetas y archivos basura de Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sdf
*.cache
*.pdb
*.ipch
*.aps
*.ncb
*.idb
*.opensdf
*.tlog
*.VC.db
*.VC.opendb

# Carpetas de compilación
build/
Debug/
Release/
x64/
x86/

# Archivos de respaldo
*.orig
 
